<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="query"
    (ionInput)="getResults()">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Results</ion-list-header>
    <ion-item *ngIf="!results.length">No Results</ion-item>
    <button
      *ngFor="let result of results"
      [navPush]="detailsPage"
      [navParams]="result"
      ion-item>
      <ion-thumbnail item-start>
        <img [src]="result.image">
      </ion-thumbnail>
      <h2>{{ result.title }}</h2>
      <p>{{ result.author }} • {{ result.date }}</p>
    </button>
  </ion-list>
</ion-content>
