<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="query"
    (ionInput)="getMovies()">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Results</ion-list-header>
    <ion-item *ngIf="!(movies | async)?.length">No Results</ion-item>
    <button
      *ngFor="let movie of movies | async"
      [navParams]="{ movie: movie }"
      [navPush]="detailsPage"
      ion-item>
      <ion-thumbnail item-start>
        <img [src]="'https://image.tmdb.org/t/p/w185' + movie.poster_path">
      </ion-thumbnail>
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.release_date | date }}</p>
    </button>
  </ion-list>
</ion-content>
